.form-container {
  max-width: 550px;
}

@keyframes show-animations {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

:host::ng-deep {
  [dynamic-control] {
    // styles for all controls in FormModel
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(150, 219, 153);
    transition: background-color 2s linear;

    &#email {
      // styles for particular control that has attribute dynamic-control
      background-color: rgb(247, 183, 183);
    }
  }

  #subject:hover {
    background-color: rgb(4, 0, 255);
  }

  #name {
    // styles for particular control

    &:hover > * {
      animation: show-animations 1000ms;
    }

    .errorText {
      color: darkblue;
      font-size: 20pt;
    }
  }

  #message {
    // styles for particular control
    background-color: rgb(154, 152, 252);
  }
}
