<div class="card form-container">
  <form [formGroup]="formGroup">
    <lib-bootstrap-textfield
      required
      formControlName="name"
      [bindControlInputs]="formConfig.name.inputs"
    ></lib-bootstrap-textfield>
    <lib-bootstrap-textfield
      required
      formControlName="email"
      [bindControlInputs]="formConfig.email.inputs"
    ></lib-bootstrap-textfield>
    <lib-bootstrap-dropdown
      required
      formControlName="subject"
      [bindControlInputs]="formConfig.subject.inputs"
      [bindControlOutputs]="formConfig.subject.outputs"
    ></lib-bootstrap-dropdown>
    <lib-bootstrap-textfield
      formControlName="message"
      [bindControlInputs]="formConfig.message.inputs"
    ></lib-bootstrap-textfield>
  </form>
  <div class="dropdown-divider"></div>
  <button [disabled]="!formGroup.valid" type="button" class="btn btn-primary">Send</button>
</div>
