:host {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.btn-active {
    background-color: #003b75;
}

.menu {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
}

.form-state-reflection {
    min-width: 400px;
    max-width: 400px;
}

.sidebar {
    background-color: #484848;
    padding: 0px 25px 0px 25px;

    button {
        width: 100%;
    }

    .title {
        margin: 0px 25px 25px 25px;
        border-bottom: white 2px solid;
        padding: 15px 25px 15px 25px;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        color: #a3f1f1;
    }
}

.content {
    width: 100%;
    background-color: #9da8ef;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    > div {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.card {
    border-radius: 10px;
    margin-top: 50px;
}

.form-output {
    height: 500px;

    .card-body {
        overflow: auto;
    }
}

.form-state {
    .input-group-prepend {
        span {
            width: 90px;
        }
    }

    .form-control[readonly] {
        background-color: white;
    }
}
