<div class="card form-container">
  <form [formGroup]="formGroup">
    <lib-bootstrap-textfield
      [required]="true"
      formControlName="name"
      label="Your name"
      placeholder="Please enter your name here"
      [errorTexts]="errorTexts"
    ></lib-bootstrap-textfield>
    <lib-bootstrap-textfield
      [required]="true"
      formControlName="email"
      label="Email"
      placeholder="Please enter youre email here"
      [errorTexts]="errorTexts"
    ></lib-bootstrap-textfield>
    <lib-bootstrap-dropdown
      [required]="true"
      formControlName="subject"
      label="Subject"
      placeholder="Please pick subject"
      [options]="subjectOptions"
      [errorTexts]="errorTexts"
    ></lib-bootstrap-dropdown>
    <lib-bootstrap-textfield
      formControlName="message"
      label="Your message"
      placeholder="Message"
      [multiline]="true"
    ></lib-bootstrap-textfield>
  </form>
  <div class="dropdown-divider"></div>
  <button [disabled]="!formGroup.valid" type="button" class="btn btn-primary">Send</button>
</div>
