.form-container {
  max-width: 550px;
}

.alert-primary {
  animation: show-animation 500ms;
  overflow: hidden;
}

@keyframes show-animation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
