<div class="card form-container">
  <form [formGroup]="formGroup">
    <ng-container [dynamicFormControlOutlet]="formModel.controls.name"></ng-container>
    <ng-container [dynamicFormControlOutlet]="formModel.controls.email"></ng-container>
    <ng-container dynamicFormControlOutlet="subject"></ng-container>
    <ng-container dynamicFormControlOutlet="message"></ng-container>
  </form>
  <div class="dropdown-divider"></div>
  <button (click)="click()" [disabled]="!formGroup.valid" type="button" class="btn btn-primary">Send</button>
</div>
