name: Build PR

on:
  pull_request:
    branches: [develop]

concurrency: 
  group: pr-build-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  define_shared_variables:
    uses: ./.github/workflows/define-shared-variables.yml

  build_lib:
    uses: ./.github/workflows/base-build.yml
    with:
      appName: dynamic-form
      branch: temp
  
  build_showcase:
    uses: ./.github/workflows/base-build.yml
    with:
      appName: showcase
      branch: temp
      artifactName: showcase

  create_showcase_preview_link:
    uses: ./.github/workflows/deploy-to-firebase.yml
    needs: [build_showcase]
    with:
      branch: temp
      artifactName: showcase
      target: showcase
      expires: 2d
    secrets:
      FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}
  
  check_for_failures:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Finish build
    needs: [build_lib,create_showcase_preview_link]
    steps:
      - name: Check build status
        if: ${{ needs.build_lib.result != 'success' || needs.create_showcase_preview_link.result != 'success' }}
        run: exit 1